In [1]:
# Function to get categorical and numerical columns
def split_num_cat_cols(df):
    cat_cols= []
    num_cols= []

    for column_name in df:
        if df[column_name].dtype == 'int64' or df[column_name].dtype == 'float64':
            num_cols.append(column_name)
        else:
            cat_cols.append(column_name)
            
    return num_cols,cat_cols

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 50)
pd.options.display.max_columns = 50

df = pd.read_csv('datasets/accepted_2007_to_2018Q4.csv')
df.head()

C:\Users\1622546\Anaconda3\envs\pytorchenv\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,...,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,190xx,PA,5.91,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,Business,577xx,SD,16.06,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,NaN,605xx,IL,10.78,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.0,Source Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,076xx,NJ,17.06,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,major_purchase,Major purchase,174xx,PA,25.37,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Code to print null values
# print('Percentage of null values in data')
# for i in df:
#     print(i.ljust(25),'{:.2f}%'.format(df[i].isnull().sum()*100/2260701))
 
# removing columns with more than 20% of null data.
new_cols = []
for i in df:
    if int(df[i].isnull().sum()*100/2260701)< 20:
        new_cols.append(i)

null_cols = list(set(df.columns.tolist())-set(new_cols))
df.drop(null_cols, axis=1, inplace=True)

# Dropping extra columns
df.drop(['zip_code','url','id'], axis=1, inplace=True)

In [4]:
# Feature Extraction

df['credit_line_ratio']=df['open_acc']/df['total_acc']
df['fico_avg_score'] = (df['fico_range_high']+df['fico_range_low'] )/2

df.drop(['open_acc','total_acc','fico_range_high','fico_range_low'], axis=1, inplace=True)

In [5]:
# Used to find correlated columns
# 
# for i in corr_df.index.values:
#     for j in corr_df.index.values:
#         if abs(corr_df.loc[i,j])>0.4 and abs(corr_df.loc[i,j])!=1:
#             print(i, ': ', j, ': ', corr_df.loc[i,j])
# 
# import matplotlib.pyplot as plt
# %matplotlib inline
# import seaborn as sns

# plt.figure(figsize=(20,15))
# corr_df = df[num_cols].corr()
# sns.heatmap(corr_df)


high_corr_cols = ['tot_hi_cred_lim','num_rev_tl_bal_gt_0','percent_bc_gt_75','total_bal_ex_mort','avg_cur_bal','bc_open_to_buy',
                  'num_actv_rev_tl','num_bc_sats','num_bc_tl','tot_hi_cred_lim','num_rev_tl_bal_gt_0','revol_util',
                  'total_il_high_credit_limit','num_op_rev_tl','total_rev_hi_lim','num_tl_op_past_12m','mo_sin_rcnt_rev_tl_op',
                  'num_rev_accts','mort_acc','num_actv_bc_tl','num_accts_ever_120_pd','acc_open_past_24mths','num_il_tl',
                  'mths_since_recent_bc','funded_amnt','funded_amnt_inv','installment','total_pymnt','total_pymnt_inv',
                  'total_rec_prncp','total_rec_int','last_pymnt_amnt','num_tl_90g_dpd_24m','pct_tl_nvr_dlq',
                  'mths_since_recent_inq','delinq_2yrs','inq_last_6mths','recoveries','collection_recovery_fee',
                  'bc_util','mo_sin_old_rev_tl_op','pub_rec_bankruptcies','tax_liens','out_prncp','out_prncp_inv',
                  'last_fico_range_high','last_fico_range_low','num_tl_30dpd','acc_now_delinq','revol_bal','last_pymnt_d', 
                  'last_credit_pull_d', 'earliest_cr_line','grade','total_rec_late_fee','collections_12_mths_ex_med',
                  'chargeoff_within_12_mths','delinq_amnt','mo_sin_old_il_acct','mo_sin_rcnt_tl','num_tl_120dpd_2m',
                  'debt_settlement_flag','tot_coll_amt','initial_list_status','title','hardship_flag']
df.drop(high_corr_cols, axis=1, inplace=True)

In [6]:
# Zero variance column removed
for i in df:
    if df[i].nunique() == 1:
        print(i)
df.drop('policy_code', axis=1, inplace=True)

policy_code

In [7]:
len(df.columns)

23

In [8]:
# Handling null values of numeric data and correcting data type of features
num_cols, cat_cols = split_num_cat_cols(df)

for i in num_cols:
    df[i].fillna(df[i].mean(), inplace=True)

df.pub_rec = df.pub_rec.astype('int64')
df.num_sats = df.num_sats.astype('int64')

In [9]:
# Handling null values for categorical columns
num_cols, cat_cols = split_num_cat_cols(df)

df[cat_cols] = df[cat_cols].ffill()

In [10]:
df.isnull().sum()

loan_amnt              0
term                   0
int_rate               0
sub_grade              0
emp_title              0
emp_length             0
home_ownership         0
annual_inc             0
verification_status    0
issue_d                0
loan_status            0
pymnt_plan             0
purpose                0
addr_state             0
dti                    0
pub_rec                0
application_type       0
tot_cur_bal            0
num_sats               0
total_bc_limit         0
disbursement_method    0
credit_line_ratio      0
fico_avg_score         0
dtype: int64

In [11]:
df.loan_status.value_counts()

Fully Paid                                             1076764
Current                                                 878331
Charged Off                                             268563
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1990
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: loan_status, dtype: int64

In [12]:
# Dividing data into two parts: 1. Loan status known(i.e. Paid or unpaid)    2. Loan status unknown i.e. Current
# After model creation we will predict also predict how much issued loans in current status will be paid off.
pred_df = df[df['loan_status'] == 'Current']
pred_df.reset_index(inplace=True)
pred_df.drop('index', axis=1, inplace=True)
pred_df.to_feather('datasets/pred_data.feather')
pred_df.head()

C:\Users\1622546\Anaconda3\envs\pytorchenv\lib\site-packages\pandas\core\frame.py:4157: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,loan_amnt,term,int_rate,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,addr_state,dti,pub_rec,application_type,tot_cur_bal,num_sats,total_bc_limit,disbursement_method,credit_line_ratio,fico_avg_score
0,35000.0,60 months,14.85,C5,Information Systems Officer,10+ years,MORTGAGE,110000.0,Source Verified,Dec-2015,Current,n,debt_consolidation,NJ,17.06,0,Individual,301500.0,13,62500.0,Cash,0.764706,787.0
1,22400.0,60 months,12.88,C2,Executive Director,6 years,MORTGAGE,95000.0,Not Verified,Dec-2015,Current,n,debt_consolidation,SC,22.98,0,Individual,376218.0,16,21000.0,Cash,0.457143,712.0
2,16000.0,60 months,12.88,C2,Senior Structural Designer,1 year,MORTGAGE,70000.0,Not Verified,Dec-2015,Current,n,debt_consolidation,TX,26.40,0,Individual,265836.0,13,45900.0,Cash,0.448276,722.0
3,23000.0,60 months,8.49,B1,Teacher,5 years,RENT,64000.0,Not Verified,Dec-2015,Current,n,credit_card,NY,18.28,0,Individual,63886.0,21,39500.0,Cash,0.636364,702.0
4,16800.0,60 months,12.88,C2,CEO,10+ years,MORTGAGE,118000.0,Not Verified,Dec-2015,Current,n,debt_consolidation,MO,34.29,1,Individual,314793.0,11,12600.0,Cash,0.239130,682.0

In [13]:
df.drop(df[df['loan_status'] == 'Current'].index, inplace=True)
df.reset_index(inplace=True)
df.drop('index', axis=1, inplace=True)
df.to_feather('datasets/before_enccoding_scaling.feather')
df.head()

,loan_amnt,term,int_rate,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,addr_state,dti,pub_rec,application_type,tot_cur_bal,num_sats,total_bc_limit,disbursement_method,credit_line_ratio,fico_avg_score
0,3600.0,36 months,13.99,C4,leadman,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,Fully Paid,n,debt_consolidation,PA,5.91,0,Individual,144904.0,7,2400.0,Cash,0.538462,677.0
1,24700.0,36 months,11.99,C1,Engineer,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,Fully Paid,n,small_business,SD,16.06,0,Individual,204396.0,22,79300.0,Cash,0.578947,717.0
2,20000.0,60 months,10.78,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-2015,Fully Paid,n,home_improvement,IL,10.78,0,Joint App,189699.0,6,6200.0,Cash,0.333333,697.0
3,10400.0,60 months,22.45,F1,Contract Specialist,3 years,MORTGAGE,104433.0,Source Verified,Dec-2015,Fully Paid,n,major_purchase,PA,25.37,0,Individual,331730.0,12,20300.0,Cash,0.342857,697.0
4,11950.0,36 months,13.44,C3,Veterinary Tecnician,4 years,RENT,34000.0,Source Verified,Dec-2015,Fully Paid,n,debt_consolidation,GA,10.20,0,Individual,12798.0,5,9400.0,Cash,0.833333,692.0

In [14]:
# After all these things our data is cleaned and pre-processed
df.shape

(1382370, 23)

# ENCODING AND SCALING

In [15]:
import pandas as pd
pd.options.display.max_columns = 50

df = pd.read_feather('datasets/before_enccoding_scaling.feather')
df.head()

,loan_amnt,term,int_rate,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,addr_state,dti,pub_rec,application_type,tot_cur_bal,num_sats,total_bc_limit,disbursement_method,credit_line_ratio,fico_avg_score
0,3600.0,36 months,13.99,C4,leadman,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,Fully Paid,n,debt_consolidation,PA,5.91,0,Individual,144904.0,7,2400.0,Cash,0.538462,677.0
1,24700.0,36 months,11.99,C1,Engineer,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,Fully Paid,n,small_business,SD,16.06,0,Individual,204396.0,22,79300.0,Cash,0.578947,717.0
2,20000.0,60 months,10.78,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-2015,Fully Paid,n,home_improvement,IL,10.78,0,Joint App,189699.0,6,6200.0,Cash,0.333333,697.0
3,10400.0,60 months,22.45,F1,Contract Specialist,3 years,MORTGAGE,104433.0,Source Verified,Dec-2015,Fully Paid,n,major_purchase,PA,25.37,0,Individual,331730.0,12,20300.0,Cash,0.342857,697.0
4,11950.0,36 months,13.44,C3,Veterinary Tecnician,4 years,RENT,34000.0,Source Verified,Dec-2015,Fully Paid,n,debt_consolidation,GA,10.20,0,Individual,12798.0,5,9400.0,Cash,0.833333,692.0

In [16]:
# Handling date features
# These dates are only month and year so we are just dividinng them

df['issue_d'] = df['issue_d'].ffill()
df['issue_d'] = '01-'+df['issue_d']
df['issue_d'] = df['issue_d'].apply(pd.to_datetime)
df['issue_d_month'] = df['issue_d'].dt.month
df['issue_d_year'] = df['issue_d'].dt.year

df.drop('issue_d', axis=1, inplace=True)
df.issue_d_month = df.issue_d_month.astype('int64')
df.issue_d_year = df.issue_d_year.astype('object')

df.head()

,loan_amnt,term,int_rate,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,purpose,addr_state,dti,pub_rec,application_type,tot_cur_bal,num_sats,total_bc_limit,disbursement_method,credit_line_ratio,fico_avg_score,issue_d_month,issue_d_year
0,3600.0,36 months,13.99,C4,leadman,10+ years,MORTGAGE,55000.0,Not Verified,Fully Paid,n,debt_consolidation,PA,5.91,0,Individual,144904.0,7,2400.0,Cash,0.538462,677.0,12,2015
1,24700.0,36 months,11.99,C1,Engineer,10+ years,MORTGAGE,65000.0,Not Verified,Fully Paid,n,small_business,SD,16.06,0,Individual,204396.0,22,79300.0,Cash,0.578947,717.0,12,2015
2,20000.0,60 months,10.78,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Fully Paid,n,home_improvement,IL,10.78,0,Joint App,189699.0,6,6200.0,Cash,0.333333,697.0,12,2015
3,10400.0,60 months,22.45,F1,Contract Specialist,3 years,MORTGAGE,104433.0,Source Verified,Fully Paid,n,major_purchase,PA,25.37,0,Individual,331730.0,12,20300.0,Cash,0.342857,697.0,12,2015
4,11950.0,36 months,13.44,C3,Veterinary Tecnician,4 years,RENT,34000.0,Source Verified,Fully Paid,n,debt_consolidation,GA,10.20,0,Individual,12798.0,5,9400.0,Cash,0.833333,692.0,12,2015

In [17]:
# Encoding of categorical features
# 2 types of encoding is used here:       1. Binary encoding       2. Ordinal Encoding
num_cols,cat_cols = split_num_cat_cols(df)


# 1. Binary Encoding
import category_encoders as ce

bin_encod_emp_title = ce.BinaryEncoder(cols=['emp_title'])
df_emp_title = bin_encod_emp_title.fit_transform(df['emp_title'])
df = pd.concat([df, df_emp_title], axis=1)

bin_encod_purpose = ce.BinaryEncoder(cols=['purpose'])
df_purpose = bin_encod_purpose.fit_transform(df['purpose'])
df = pd.concat([df, df_purpose], axis=1)

bin_encod_addr_state = ce.BinaryEncoder(cols=['addr_state'])
df_addr_state = bin_encod_addr_state.fit_transform(df['addr_state'])
df = pd.concat([df, df_addr_state], axis=1)

df.drop(['emp_title','purpose','addr_state'], axis=1, inplace=True)


# 2. Ordinal Encoding
cols_dict = {}
cols_dict['term'] = {' 36 months': 1, ' 60 months': 2}
cols_dict['emp_length'] = {'10+ years':10, '6 years':6, '4 years':4, '< 1 year':0.5, '2 years':2,'9 years':9, '5 years':5, '3 years':3, '7 years':7, '1 year':1,'8 years':8}
cols_dict['sub_grade'] = {'G5': 0, 'G4': 1, 'G3': 2, 'G2': 3, 'G1': 4,
                    'F5': 5, 'F4': 6, 'F3': 7, 'F2': 8, 'F1': 9,
                    'E5': 10, 'E4': 11, 'E3': 12, 'E2': 13, 'E1': 14,
                    'D5': 15, 'D4': 16, 'D3': 17, 'D2': 18, 'D1': 19,
                    'C5': 20, 'C4': 21, 'C3': 22, 'C2': 23, 'C1': 24,
                    'B5': 25, 'B4': 26, 'B3': 27, 'B2': 28, 'B1': 29,
                    'A5': 30, 'A4': 31, 'A3': 32, 'A2': 33, 'A1': 34}    
cols_dict['home_ownership'] = {'MORTGAGE': 4, 'RENT': 3, 'OWN': 5,'ANY': 2,'OTHER': 1, 'NONE':0 }
cols_dict['verification_status'] = {'Source Verified':2,'Verified': 1,'Not Verified': 0}
cols_dict['pymnt_plan'] = {'n':0, 'y':1}
cols_dict['application_type'] = {'Individual':0, 'Joint App':1}
cols_dict['loan_status'] = {'Fully Paid':1, 'Current':0, 'Charged Off':0, 'In Grace Period':0,'Late (31-120 days)':0, 'Late (16-30 days)':0, 'Default':0,'Does not meet the credit policy. Status:Fully Paid':1,'Does not meet the credit policy. Status:Charged Off':0}
cols_dict['disbursement_method'] = {'Cash':0, 'DirectPay':1}
cols_dict['issue_d_year'] = {2015:9, 2018:12, 2017:11, 2016:10, 2014:8, 2011:5, 2010:4, 2009:3, 2008:2, 2007:1, 2013:7, 
       2012:6, 2019:13, 2020:14, 2021:15}

for i in set(cat_cols)-set(['emp_title','purpose','title','addr_state','issue_d_month']):
    df[i] = df[i].map(cols_dict[i])
    


# Storing all the models to predict further with these same parameters
import pickle

with open('models/encoding/dict_encoding.pickle', 'wb') as handle:
    pickle.dump(cols_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

pickle_out = open('models/encoding/bin_encod_emp_title.pkl','wb')
pickle.dump(bin_encod_emp_title, pickle_out)
pickle_out = open('models/encoding/bin_encod_purpose.pkl','wb')
pickle.dump(bin_encod_purpose, pickle_out)
pickle_out = open('models/encoding/bin_encod_addr_state.pkl','wb')
pickle.dump(bin_encod_addr_state, pickle_out)

C:\Users\1622546\Anaconda3\envs\pytorchenv\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
C:\Users\1622546\Anaconda3\envs\pytorchenv\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
C:\Users\1622546\Anaconda3\envs\pytorchenv\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [18]:
# Scaling of numeric data
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
num_cols,cat_cols = split_num_cat_cols(df)
df[num_cols] = scaler.fit_transform(df[num_cols])

import pickle

pickle_out = open('models/scaling/scaler_num_cols.pkl','wb')
pickle.dump(scaler, pickle_out)

In [19]:
df.to_feather('datasets/after_enccoding_scaling.feather')
df.head()

,loan_amnt,term,int_rate,sub_grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,dti,pub_rec,application_type,tot_cur_bal,num_sats,total_bc_limit,disbursement_method,credit_line_ratio,fico_avg_score,issue_d_month,issue_d_year,emp_title_0,emp_title_1,emp_title_2,emp_title_3,...,emp_title_7,emp_title_8,emp_title_9,emp_title_10,emp_title_11,emp_title_12,emp_title_13,emp_title_14,emp_title_15,emp_title_16,emp_title_17,emp_title_18,emp_title_19,purpose_0,purpose_1,purpose_2,purpose_3,purpose_4,addr_state_0,addr_state_1,addr_state_2,addr_state_3,addr_state_4,addr_state_5,addr_state_6
0,0.078481,0.0,0.338006,0.617647,1.000000,0.8,0.005000,0.0,1.0,0.0,0.00691,0.0,0.0,0.018113,0.077778,0.002171,0.0,0.307692,0.276008,1.0,0.727273,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.612658,0.0,0.260125,0.705882,1.000000,0.8,0.005910,0.0,1.0,0.0,0.01706,0.0,0.0,0.025549,0.244444,0.071732,0.0,0.330827,0.445860,1.0,0.727273,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.493671,1.0,0.213006,0.764706,1.000000,0.8,0.005728,0.0,1.0,0.0,0.01178,0.0,1.0,0.023712,0.066667,0.005608,0.0,0.190476,0.360934,1.0,0.727273,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,0.250633,1.0,0.667445,0.264706,0.263158,0.8,0.009495,1.0,1.0,0.0,0.02637,0.0,0.0,0.041466,0.133333,0.018363,0.0,0.195918,0.360934,1.0,0.727273,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.289873,0.0,0.316589,0.647059,0.368421,0.6,0.003091,1.0,1.0,0.0,0.01120,0.0,0.0,0.001600,0.055556,0.008503,0.0,0.476190,0.339703,1.0,0.727273,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

# MODEL SELECTION

In [20]:
def fit_score_clf(clf, X_train, y_train, X_test, y_test, name='clf'):
    """
    fits a classifer from sklearn and returns a dataframe
    clf(sklearn): classifier
    X_train(numpy): train features
    y_train(numpy): predictions row vector
    X_test(numpy): test features
    y_test(numpy): ground truth row vector
    name(string): name of classifier
    
    """
    #fit to train data
    clf.fit(X_train, y_train)
    #make predictions
    y_pred = clf.predict(X_test)
    #make dataframe from report
    clf_report = pd.DataFrame(classification_report(y_test, y_pred, output_dict=True))
    #add clf name as column
    clf_report['clf'] = name
    
    return clf_report

In [21]:
import pandas as pd
pd.options.display.max_columns = 72
pd.set_option('display.max_rows', 50)

df = pd.read_feather('datasets/after_enccoding_scaling.feather')
df.loan_status = df.loan_status.astype('int64')
df.head()

,loan_amnt,term,int_rate,sub_grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,dti,pub_rec,application_type,tot_cur_bal,num_sats,total_bc_limit,disbursement_method,credit_line_ratio,fico_avg_score,issue_d_month,issue_d_year,emp_title_0,emp_title_1,emp_title_2,emp_title_3,emp_title_4,emp_title_5,emp_title_6,emp_title_7,emp_title_8,emp_title_9,emp_title_10,emp_title_11,emp_title_12,emp_title_13,emp_title_14,emp_title_15,emp_title_16,emp_title_17,emp_title_18,emp_title_19,purpose_0,purpose_1,purpose_2,purpose_3,purpose_4,addr_state_0,addr_state_1,addr_state_2,addr_state_3,addr_state_4,addr_state_5,addr_state_6
0,0.078481,0.0,0.338006,0.617647,1.000000,0.8,0.005000,0.0,1,0.0,0.00691,0.0,0.0,0.018113,0.077778,0.002171,0.0,0.307692,0.276008,1.0,0.727273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.612658,0.0,0.260125,0.705882,1.000000,0.8,0.005910,0.0,1,0.0,0.01706,0.0,0.0,0.025549,0.244444,0.071732,0.0,0.330827,0.445860,1.0,0.727273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.493671,1.0,0.213006,0.764706,1.000000,0.8,0.005728,0.0,1,0.0,0.01178,0.0,1.0,0.023712,0.066667,0.005608,0.0,0.190476,0.360934,1.0,0.727273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,0.250633,1.0,0.667445,0.264706,0.263158,0.8,0.009495,1.0,1,0.0,0.02637,0.0,0.0,0.041466,0.133333,0.018363,0.0,0.195918,0.360934,1.0,0.727273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.289873,0.0,0.316589,0.647059,0.368421,0.6,0.003091,1.0,1,0.0,0.01120,0.0,0.0,0.001600,0.055556,0.008503,0.0,0.476190,0.339703,1.0,0.727273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [22]:
X = df.drop('loan_status', axis=1)
y = df.loan_status


from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.3, random_state=21)

In [23]:
#instantiate with default params
from sklearn.linear_model import LogisticRegression

lr  = LogisticRegression(penalty='l2')
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)


import pickle

pickle_out = open('models/models/model_linear_regression.pkl','wb')
pickle.dump(lr, pickle_out)


from sklearn.metrics import classification_report

LogisticRegression_report = pd.DataFrame(classification_report(y_test, y_pred, output_dict=True))
LogisticRegression_report

C:\Users\1622546\Anaconda3\envs\pytorchenv\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

                      0              1  accuracy      macro avg   weighted avg
precision      0.555256       0.795915   0.78514       0.675585       0.743016
recall         0.113102       0.974477   0.78514       0.543789       0.785140
f1-score       0.187924       0.876191   0.78514       0.532058       0.724904
support    91157.000000  323554.000000   0.78514  414711.000000  414711.000000

In [24]:
from sklearn.ensemble import GradientBoostingClassifier

gbtree = GradientBoostingClassifier(learning_rate=0.1, n_estimators = 20)
gbtree.fit(X_train,y_train)
y_pred = lr.predict(X_test)


import pickle

pickle_out = open('models/models/model_GradientBoostingClassifier.pkl','wb')
pickle.dump(gbtree, pickle_out)


from sklearn.metrics import classification_report

GradientBoostingClassifier_report = pd.DataFrame(classification_report(y_test, y_pred, output_dict=True))
GradientBoostingClassifier_report

                      0              1  accuracy      macro avg   weighted avg
precision      0.555256       0.795915   0.78514       0.675585       0.743016
recall         0.113102       0.974477   0.78514       0.543789       0.785140
f1-score       0.187924       0.876191   0.78514       0.532058       0.724904
support    91157.000000  323554.000000   0.78514  414711.000000  414711.000000

In [25]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=20, n_jobs=-1)
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)


import pickle

pickle_out = open('models/models/model_RandomForestClassifier.pkl','wb')
pickle.dump(rf, pickle_out)


from sklearn.metrics import classification_report

RandomForestClassifier_report = pd.DataFrame(classification_report(y_test, y_pred, output_dict=True))
RandomForestClassifier_report

                      0              1  accuracy      macro avg   weighted avg
precision      0.478239       0.804538  0.776444       0.641389       0.732815
recall         0.187325       0.942421  0.776444       0.564873       0.776444
f1-score       0.269204       0.868038  0.776444       0.568621       0.736409
support    91157.000000  323554.000000  0.776444  414711.000000  414711.000000

In [26]:
import xgboost as xgb

xgb_clf = xgb.XGBClassifier(n_estimators=20, subsample=0.4, n_jobs=-1, use_label_encoder=False)
xgb_clf.fit(X_train, y_train)
y_pred = xgb_clf.predict(X_test)


import pickle

pickle_out = open('models/models/model_xgb.pkl','wb')
pickle.dump(xgb_clf, pickle_out)


from sklearn.metrics import classification_report

xgb_report = pd.DataFrame(classification_report(y_test, y_pred, output_dict=True))
xgb_report

[21:25:34] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

                      0              1  accuracy      macro avg   weighted avg
precision      0.579813       0.798664  0.787982       0.689239       0.750559
recall         0.128745       0.973714  0.787982       0.551229       0.787982
f1-score       0.210704       0.877544  0.787982       0.544124       0.730967
support    91157.000000  323554.000000  0.787982  414711.000000  414711.000000

In [29]:
from sklearn.svm import SVC

svc = SVC(C=1.0, kernel='rbf', gamma='auto', probability=True, max_iter=200)
svc.fit(X_train, y_train)
y_pred = svc.predict(X_test)


import pickle

pickle_out = open('models/models/model_SVC.pkl','wb')
pickle.dump(svc, pickle_out)



from sklearn.metrics import classification_report

SVC_report = pd.DataFrame(classification_report(y_test, y_pred, output_dict=True))
SVC_report

C:\Users\1622546\Anaconda3\envs\pytorchenv\lib\site-packages\sklearn\svm\_base.py:255: ConvergenceWarning: Solver terminated early (max_iter=200).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  warnings.warn('Solver terminated early (max_iter=%i).'

                      0              1  accuracy      macro avg   weighted avg
precision      0.237096       0.787923    0.6177       0.512510       0.666847
recall         0.333337       0.697816    0.6177       0.515576       0.617700
f1-score       0.277098       0.740137    0.6177       0.508617       0.638357
support    91157.000000  323554.000000    0.6177  414711.000000  414711.000000